html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #050816;
  color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ff4f8b;
  border-radius: 20px;
}
